*{
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    margin: 0;
}

h2 {
    color: #333;
}

p {
    line-height: 1.6;
}

@media (min-width: 768px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}

.meu-botao {
    background-color: #fbfbfb;
    color: rgb(0, 0, 0);
    border: none; /* Remove a borda padrão do botão */
    padding: 5px 10px; /* Define o tamanho de dentro */
    text-align: center; /* Alinha do texto */
    text-decoration: none; /* Remove a linha de baixo do texto */
    display: inline-block; 
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem externa */
    cursor: pointer; /* Transforma o cursor em uma mãozinha ao passar o mouse */
    border-radius: 5px; /* Borda redonda */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.605);
  }
  
  .meu-botao:hover {
    background-color: #00ddff; /* Altera a cor de fundo no hover */
  }