*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

h2 {
    color: #333;
    text-align: center;
    text-decoration: underline #ff0000;
}

p {
    line-height: 1.6;
}


textarea {
    width: 50%;
    justify-content: center;
}

button{
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.botao {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.botao1{
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    
}

.botao1:hover{
    background-color: #ff0000;
   
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
 }
 

button:hover {
    background-color: #007BFF;
}

.meu-botao {
    background-color: #ff0000;
    border: none; /* Remove a borda padrão do botão */
    padding: 5px 10px; /* Define o tamanho de dentro */
    text-align: center; /* Alinha do texto */
    text-decoration: none; /* Remove a linha de baixo do texto */
    display: inline-block; 
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem externa */
    cursor: pointer; /* Transforma o cursor em uma mãozinha ao passar o mouse */
    border-radius: 5px; /* Borda redonda */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.605);
  }

.container{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.verde{
    color: green;
}
.vermelho{
    color: red;
}

